
body {
    margin: 0px;
    padding: 0px;
}

#root {
    width: 100%;
}

.MuiButton-colorInherit {
    outline: none !important;
    text-decoration: none !important;
    color: black !important;
}

a {
    text-decoration: none !important;
}

.icon-shop {
    font-size: 26px !important;
}

.counter {
    border: 2px solid rebeccapurple;
    position: relative;
    padding: 0px 5px;
    color: #fff;
    bottom: 0.5rem;
    border-radius: 50%;
    background-color: rgb(214, 19, 19);
    font-weight: bold;
    font-size: 16px;
}

.image {
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}
.Products_mainImage {
    width: 100%;
    height: 100vh;
    background-attachment: fixed !important;
    background-position: center !important;
    background-size: cover !important;
}

.Products_paper {
    border: 2px solid rgb(161, 161, 161);
    width: 400px;
    margin: 0px auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.Products_paper:hover {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

.Products_details {
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    align-items: center;
    width: 80%;
    padding: 0.8rem 0.8rem;
    border: 1px solid gainsboro;
    margin-top: 0.9rem;
    margin-bottom: 0.9rem;
    transition: 0.3s ease-in-out;
}

.Products_details:hover {
    background-color: rgb(26, 25, 25);
    color: white;
}

.Products_button button {
    padding: 0.8rem 3rem;
    background-color: #154c79;
    color: white;
    font: 20px;
    border: none !important;
    border-radius: 5px;
}

.Products_button button:hover {
    background-color: black;
    color: white;
}

.ShoppingBasket {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.basket_buttons button {
    width: 1.6rem;
    padding: 0.1rem 0.5rem;
    margin-right: 4px;
    margin-left: 4px;
    border: none !important;
    background-color: royalblue;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    font-size: 16px;
    outline: none !important;
}

.basket-div {
    margin-top: 10rem;
}

table {
    width: 100%;
    align-items: center;
    border-collapse: collapse;
}

table td {
    padding-top: 1rem;
    text-align: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid gray;
    font-weight: bold;
    font-family: "Titillium Web";
}

table th {
    font-family: "Titillium Web";
    text-align: center;
    padding: 1rem 1rem;
    color: white;
}

table thead tr {
    background-color: rgb(56, 102, 241);
    border-radius: 1rem !important;
}

.basket_remove {
    background-color: none;
    border: none !important;
    outline: none !important;
}

.basket_buttons button {
    transition: 0.4s all;
}

.basket_buttons button:hover {
    background-color: rgb(127, 156, 241);
    color: black;
}

.basket_title {
    font-size: 19px !important;
}

.basket_price {
    font-size: 19px;
}

.basket_Tprice {
    font-size: 19px;
}

.Products_image img {
    transition: 0.3s all;
}

.Products_image img:hover {
    transform: scale(1.1);
}

@media (max-width:762px) {
    table th {
        display: none;
    }
    table td {
        display: flex;
        flex-direction: column;
    }
    table img {
        display: flex;
        flex: 1;
    }
    table .basket_buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    table .basket_buttons::before {
        content: "Quantity";
        font-weight: bold;
        font-size: 20px;
        text-align: left;
        width: 71%;
        /* border: 2px solid red; */
    }
    table .basket_title {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    table .basket_title::before {
        content: "Name";
        width: 74%;
        text-align: left;
        font-weight: bold;
        /* border: 2px solid red; */
    }
    table .basket_price {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    table .basket_price::before {
        content: "Price";
        width: 78%;
        text-align: left;
        font-weight: bold;
        /* border: 2px solid red; */
    }
    table .basket_Tprice {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    table .basket_Tprice::before {
        content: "TotalPrice";
        width: 80%;
        text-align: left;
        font-weight: bold;
        text-align: left;
        /* border: 2px solid red; */
    }
}

.basket_productTotal {
    text-align: center;
    /* border: 2px solid red; */
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.remove_icon {
    transition: 0.4s all;
}

.remove_icon:hover {
    background-color: royalblue;
    color: white;
}

.basket_quantity {
    font-family: "Titillium Web";
    font-size: 19px;
}

.empty_cart {
    width: 100%;
}

.MuiAlert-standardInfo {
    padding-top: 2rem !important;
    height: 8rem;
}

.nav-head {
    background-color: #fff !important;
    position: fixed !important;
    z-index: 99;
    width: 100%;
}

.logo-brand {
    margin-left: 14%;
}

@media only screen and (max-width: 645px) {
    .logo-brand {
        margin-left: 10%;
    }
    .side-nav {
        margin-left: 0% !important;
    }
}

.home-link {
    color: black;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    display: inline-block;
    position: relative;
}

.home-link:hover {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.home-link:after {
    display: block;
    content: '';
    margin-top: 5px;
    border-bottom: solid 3px #154c79;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.home-link:hover:after {
    transform: scaleX(1);
}

.side-nav {
    margin-left: 65%;
    align-items: center;
}

.img-slider {
    margin-top: 8%;
}

@media only screen and (max-width: 918px) {
    .img-slider {
        margin-top: 10%;
        margin-bottom: 0 !important;
    }
}

@media only screen and (max-width: 810px) {
    .img-slider {
        margin-top: 14%;
        margin-bottom: 0 !important;
    }
}

@media only screen and (max-width: 630px) {
    .img-slider {
        margin-top: 20%;
        margin-bottom: 0 !important;
    }
}

@media only screen and (max-width: 502px) {
    .img-slider {
        margin-top: 25%;
        margin-bottom: 0 !important;
    }
}

@media only screen and (max-width: 369px) {
    .img-slider {
        margin-top: 30%;
        width: 100%;
        margin-bottom: 0 !important;
    }
}

.col-basket {
    margin-top: 20%;
}

@media only screen and (max-width: 600px) {
    .col-basket {
        margin-top: 30%;
    }
}
.producth2{
    text-align: center;
    margin-top: 20px;
    font-family: cursive;
}

.col-basket h4 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}

.h5-title {
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
}

.h5-desc {
    font-size: 14px;
}

.h5-logo {
    font-size: 12px;
    font-weight: bold;
}

.h5-price {
    font-size: 18px;
    font-weight: bold;
}

.h5-quantity {
    font-size: 14px;
    font-weight: bold;
}

.btn-quantity {
    font-weight: bold;
    background-color: #76b5c5;
    border: 2px solid #76b5c5;
    border-radius: 12px;
    color: #fff;
    padding: 0px 8px;
    margin-right: 5px;
}
.btn-quantity:hover{
background-color: black;
color: white;
}

.remove-btn {
    background-color: red;
    color: #fff;
    border: 2px solid red;
    padding: 5px 10px;
    font-weight: bold;
    margin-left: 10%;
    border-radius: 10%;
}

.remove-btn:hover {
    opacity: 0.5;
}

.total-amount {
    text-align: center;
    font-weight: 700;
}

.comments {
    font-size: 14px;
}

.note {
    background-color: #154c79;
    color: #fff;
    margin-right: 10px;
}

.text-area {
    height: 100px;
    width: 350px;
}

.btn-Checkout {
    background-color: black;
    color: #fff;
    margin-top: 20px;
    font-weight: bold;
    margin-left: 4px;
    text-transform: uppercase;
    padding: 20px 70px;
    border-radius: 3%;
}

.btn-Checkout:hover {
    background-color:#154c79;
    color: #fff;
    opacity: 0.8;
}